# 앱 컨테이너에서 사용
SPRING_DATASOURCE_URL=jdbc:mysql://track-mysql:3306/track
SPRING_DATASOURCE_USERNAME=your_username
SPRING_DATASOURCE_PASSWORD=your_password

SPRING_DATA_REDIS_HOST=track-redis
SPRING_DATA_REDIS_PORT=6379

JWT_SECRET=your_jwt_secret

MAIL_USERNAME=email
MAIL_PASSWORD=email_app_password